<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.spring.dao.ReplyDAO">

	<select id="reList" resultType="ReplyVO">
		select *
		from p_reply
		where r_no = #{r_no}
		order by re_r_no desc
	</select>
	
	<select id="reallList" resultType="ReplyVO">
		select *
		from p_reply

	</select>
	
	<select id="re_Select" resultType="ReplyVO">
		select *
		from p_reply
		where 
	
	</select>
	
	<insert id="write">
		insert into p_reply(r_no, re_r_contents, o_id, regdate, updateDate)
		values (#{r_no}, #{re_r_contents}, #{o_id}, now(), now() )
	</insert>
	
	<update id="modify">
		update p_reply
		set re_r_contents = #{re_r_contents},
		updateDate = new()
		where re_r_no = #{re_r_no}
	</update>
	
	<delete id="reDelete">
		delete from p_reply
		where re_r_no = #{re_r_no}	
	</delete>
	
	<select id="reListPage" resultType="ReplyVO">
		select * from p_reply
		where bid = #{r_no}
		order by re_r_no desc
		limit #{pCri.startPage}, #{pCri.numPerPage}
	</select>
	
	<select id="reCount" resultType="int">
		select count(r_no) 
		from p_reply
		where r_no = #{r_no}
	</select>

</mapper>